h1, h1 * {
    font-size: 4rem;
    font-weight: 300;
    font-family: "Raleway", 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2, h2 * {
    font-size: 2rem;
    font-weight: 400;
    font-family: "Raleway", 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3, h3 * {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Raleway", 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

b {
    font-weight: 600;
}