* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@import "variables";
@import "typography";
@import "buttons";

@import "navbar";
@import "header";
@import "projects";
@import "footer";